body {
  background-color: #3286D7;
  color:#FFF5D4;
  text-align: center;
  font-size: 100%;
  font-family: serif;
  margin: 1.25em;
}

.Header {
  background-color: #FFCE2C;
  background-image: url("Img/home/peg.jpg");
  background-repeat: no-repeat;
  background-size: 87.5em 7.5em;
  background-position: center;
  text-align: center;
  font-family: sans-serif;
  text-shadow: 0.063em 0.063em 0.25em #68A1D9;
}

h1 {
  font-size: 2.5em;
  color:#034C93;
}

h2 {
  font-size: 1.875em;
  color:#034C93;
}

h1:active, h2:active {
  text-shadow: -0.063em -0.063em #68A1D9;
}

h3 {
  text-transform: uppercase;
  text-shadow: 0.063em 0.063em 0.313em #034C93;
}

h3:active, h4:active {
  text-shadow: -0.063em -0.063em #034C93;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  color: #C8DBED;
  text-decoration: none;
}

a:hover {
  color: #68A1D9;
}

a:active {
  color: #3286D7;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  opacity: 0.9;
}

th {
  height: 37.5em;
  width: 25em;
  vertical-align: middle;
}

th:not(.Blank) {
  box-shadow: 0.625em 0.625em 0.313em gray;
}

th:active:not(.Blank) {
  box-shadow: 0.313em 0.313em 0.313em gray;
}

th.Animation, th.Illustration, th.More {
  background-color: #FF702C;
}

img.Animation {
  position: relative;

  z-index: 0;
}

div.Animation {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

h3.illustration {
  position: absolute;
  top: 50%;
  text-align: center;
}

img.More {
  position: relative;
  z-index: 0;
}

div.More {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.Blank {
  width: 6.25em;
}
